{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>{{ venue_name }}</h3>

            <form autocomplete="off" action="{% url "venues.views.comments.update_comment" comment.pk %}"
                  method="post">{% csrf_token %}
                <label>Rating: </label>

                {% for i in ratings %}
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="rating" value="{{ i }}" required {% if comment.rating == i %}
                                   checked {% endif %} >{{ i }}
                        </label>
                    </div>
                {% endfor %}

                <div class="form-group">
                <textarea class="form-control" id="commentArea" name="text"
                          placeholder="Type your comment here" required>{{ comment.text }}</textarea>
                    <br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Form validation for safari-->
    <script src="{% static "js/jquery.h5validate.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('form').h5Validate();
        });
    </script>
{% endblock %}