<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>
    function initialize_map() {
        var position;
        {% if form.location.value %}
            // TODO bad hack should be fixed with better way to get x,y value of location
            re = /POINT\s*\((-?\d+(.\d+)?)\s+(-?\d+(.\d+)\))/i;
            result = re.exec("{% spaceless %}{{ form.location.value }}{% endspaceless %}");
            position = new google.maps.LatLng(parseFloat(result[3]), parseFloat(result[1]));
        {% else %}
            position = new google.maps.LatLng(-33.8902, 151.1759);
        {% endif %}

        var value = 'POINT (' + position.lng() + ' ' + position.lat() + ')';
        $("#id_location").html(value);

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: position,
            zoom: 16
        });

        var marker = new google.maps.Marker({
            map: map,
            title: "",
            draggable: true,
            position: position
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('id_address');
        $(input).on('keypress', function (event) {
            if (event.keyCode == 13) {
                event.stopImmediatePropagation();
                return false;
            }
        });
        //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        var searchBox = new google.maps.places.SearchBox(input);

        google.maps.event.addListener(searchBox, 'places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return
            }

            var place = places[0];

            console.log(place);
            marker.title = place.name;
            marker.setPosition(place.geometry.location);
            map.setCenter(marker.position);

            var value = 'POINT (' + marker.position.lng() + ' ' + marker.position.lat() + ')';
            $("#id_location").html(value);
        });

        google.maps.event.addListener(map, 'click', function(event) {
            marker.setPosition(event.latLng);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });

        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();
            searchBox.setBounds(bounds);
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            console.log(event);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });
    }
    $(function () {
        initialize_map();
    });

</script>