
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>
    function initialize_map() {
        var geocoder = new google.maps.Geocoder();
        var latitude = 50.715591133433854
        var longitude = -3.53485107421875;
        var position;
        {% if form.location.value %}
            // TODO bad hack should be fixed with better way to get x,y value of location
            re = /POINT\s*\((-?\d+(.\d+)?)\s+(-?\d+(.\d+)\))/i;
            result = re.exec("{% spaceless %}{{ form.location.value }}{% endspaceless %}");
            position = new google.maps.LatLng(parseFloat(result[3]), parseFloat(result[1]));
        {% else %}
            position = new google.maps.LatLng(-33.8902, 151.1759);
        {% endif %}

        var value = 'POINT (' + position.lng() + ' ' + position.lat() + ')';
        $("#id_location").html(value);

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: position,
            zoom: 16
        });

        var marker = new google.maps.Marker({
            map: map,
            title: "",
            draggable: true,
            position: position
        });

        var input_address = document.getElementById('id_address');
        var input_city = document.getElementById('id_city');
        var input_country = document.getElementById('id_country');
        var options_city = {
            types: ['(cities)']
        };
        var options_country = {
            types: ['(regions)']
        };

        //var address_searchBox = new google.maps.places.SearchBox(input_address);
        var city_autocomplete = new google.maps.places.Autocomplete(input_city,options_city);
        var country_autocomplete = new google.maps.places.Autocomplete(input_country,options_country);


        function placeChanged(autocomplete) {
            console.log(autocomplete);
            if (autocomplete.getPlace){
                var place = autocomplete.getPlace();
            } else {
                var place = autocomplete.getPlaces()[0];

            }
            if (!place.geometry) {
              return;
            }
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
            } else {
              map.setCenter(place.geometry.location);
            }

            marker.setPosition(place.geometry.location);
            $(latitude).val(marker.getPosition().lat());
            $(longitude).val(marker.getPosition().lng());

            var value = 'POINT (' + marker.position.lng() + ' ' + marker.position.lat() + ')';
            $("#id_location").html(value);

            var country= '';
            var city = '';
            for(var item in place.address_components) {
                var component = place.address_components[item];
                if (component.types && component.types[1] == 'political') {
                    if (component.types[0] == 'locality') {
                        city = component.long_name;
                    } else if (component.types[0] == 'administrative_area_level_1') {
                        if (!city) {
                           city = component.long_name;
                        }
                        city += ', '+component.short_name;
                    } else  if (component.types[0] == 'country') {
                        country = component.long_name
{#                        options_city.componentRestrictions.country = component.short_name#}
                    }
                }
            }
            $("#id_city").val(city);
            $("#id_country").val(country)

          }

{##}
{#        google.maps.event.addListener(address_searchBox, 'places_changed', function(){#}
{#            placeChanged(address_searchBox);#}
{#         });#}

{#         google.maps.event.addListener(city_autocomplete, 'place_changed', function(){#}
{#            placeChanged(city_autocomplete);#}
{#         });#}
{##}
{##}
{##}
{##}
{#         google.maps.event.addListener(country_autocomplete, 'place_changed', function(){#}
{#            placeChanged(country_autocomplete);#}
{#         });#}

        function input_blur(){
            oldAddress = $("#id_address").val();
            oldCity = $("#id_city").val();
            oldCountry = $("#id_country").val();

            options = {'address': oldAddress};
                if (oldCity.length != 0){
                    if (!options['componentRestrictions'])
                        options['componentRestrictions'] = {}
                    options['componentRestrictions']['locality'] = oldCity;
                }
                if (oldCountry.length != 0){
                    options['componentRestrictions']['country'] = oldCountry;
                }

                geocoder.geocode(options, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        place = results[0];
                        map.setCenter(place.geometry.location);
                        marker.setPosition(place.geometry.location);
                        $(latitude).val(marker.getPosition().lat());
                        $(longitude).val(marker.getPosition().lng());

            var value = 'POINT (' + marker.position.lng() + ' ' + marker.position.lat() + ')';
            $("#id_location").html(value);


            var newCountry= '';
            var city = '';
            for(var item in place.address_components) {
                var component = place.address_components[item];
                if (component.types && component.types[1] == 'political') {
                    if (component.types[0] == 'locality') {
                        city = component.long_name;
                    } else if (component.types[0] == 'administrative_area_level_1') {
                        if (!city) {
                           city = component.long_name;
                        }
                        city += ', '+component.short_name;
                    } else  if (component.types[0] == 'country') {
                        newCountry = component.long_name
{#                        options_city.componentRestrictions.country = component.short_name#}
                    }
                }
            }

                $("#id_city").val(city);


                $("#id_country").val(newCountry)

                 }
                });
        }

        function searchForPlaces (st,reg,country) {
                options = {'address': st};
                if (reg){
                    if (!options['componentRestrictions'])
                        options['componentRestrictions'] = {}
                    options['componentRestrictions']['locality'] = reg;
                }
                if (country){
                    options['componentRestrictions']['country'] = country;
                }

                geocoder.geocode(options, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        place = results[0];
                        map.setCenter(place.geometry.location);
                        marker.setPosition(place.geometry.location);
                        $(latitude).val(marker.getPosition().lat());
                        $(longitude).val(marker.getPosition().lng());

            var value = 'POINT (' + marker.position.lng() + ' ' + marker.position.lat() + ')';
            $("#id_location").html(value);


            var newCountry= '';
            var city = '';
            for(var item in place.address_components) {
                var component = place.address_components[item];
                if (component.types && component.types[1] == 'political') {
                    if (component.types[0] == 'locality') {
                        city = component.long_name;
                    } else if (component.types[0] == 'administrative_area_level_1') {
                        if (!city) {
                           city = component.long_name;
                        }
                        city += ', '+component.short_name;
                    } else  if (component.types[0] == 'country') {
                        newCountry = component.long_name
{#                        options_city.componentRestrictions.country = component.short_name#}
                    }
                }
            }
            if (!reg)
                $("#id_city").val(city);

            if (!country)
                $("#id_country").val(newCountry)

                    }
                });
            }

        $('#id_address').keypress(function(event){
           searchForPlaces($('#id_address').val()+String.fromCharCode(event.which));
        });

        $('#id_city').keypress(function(event){

           searchForPlaces($('#id_address').val(),$('#id_city').val()+String.fromCharCode(event.which));
        });

        $('#id_country').keypress(function(event){
           searchForPlaces($('#id_address').val(),$('#id_city').val(),$('#id_country').val()+String.fromCharCode(event.which));
        });


        $('#id_city').focusout(function(event){

          input_blur();
        });

        $('#id_country').focusout(function(event){
           input_blur();
        });

        google.maps.event.addListener(map, 'click', function(event) {
            marker.setPosition(event.latLng);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });

        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();
            city_autocomplete.setBounds(bounds);
            country_autocomplete.setBounds(bounds);
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            console.log(event);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });
    }
    $(function () {
        initialize_map();
    });

</script>