
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>
    function initialize_map() {
        var geocoder = new google.maps.Geocoder();
        var latitude = 50.715591133433854
        var longitude = -3.53485107421875;
        var position;
        {% if form.location.value %}
            // TODO bad hack should be fixed with better way to get x,y value of location
            re = /POINT\s*\((-?\d+(.\d+)?)\s+(-?\d+(.\d+)\))/i;
            result = re.exec("{% spaceless %}{{ form.location.value }}{% endspaceless %}");
            position = new google.maps.LatLng(parseFloat(result[3]), parseFloat(result[1]));
        {% else %}
            position = new google.maps.LatLng(-33.8902, 151.1759);
        {% endif %}

        var value = 'POINT (' + position.lng() + ' ' + position.lat() + ')';
        $("#id_location").html(value);

        map = new google.maps.Map(document.getElementById('map-canvas'), {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: position,
            zoom: 16
        });

        var marker = new google.maps.Marker({
            map: map,
            title: "",
            draggable: true,
            position: position
        });

        var input = document.getElementById('id_city');
        var input2 = document.getElementById('id_country');
        var options = {
            types: ['(city)']
        };

        var searchBox = new google.maps.places.SearchBox(input,options);

        

            function set_map (street, city, country) {
                var st = $('#id_address').val()
                var reg = $('#id_city').val()
                var country = $('#id_country').val()
                var address = st+' '+reg+' '+country ;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        marker.setPosition(results[0].geometry.location);
                        $(latitude).val(marker.getPosition().lat());
                        $(longitude).val(marker.getPosition().lng());

            var value = 'POINT (' + marker.position.lng() + ' ' + marker.position.lat() + ')';
            $("#id_location").html(value);

                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }






        google.maps.event.addListener(searchBox, 'places_changed', function () {
            var address_str = [];
            var places = searchBox.getPlaces();
            var place = places[0];
            //alert(places[0].address_components[4].types[0]);
            var country_v = '';
            var city_v = '';
            var political_v = '';
            for (var item in place.address_components){
                var component = place.address_components[item];
                if (component.types && component.types[1] == 'political') {
                    if (component.types[0] == 'locality') {
                        city_v = component.long_name;
                    } else if (component.types[0] == 'administrative_area_level_1') {
                        if (!city_v) {
                           city_v = component.long_name;
                        }
                        city_v += ', '+component.short_name;
                    } else  if (component.types[0] == 'country') {
                        country_v = component.long_name
                    }
                }
            };
            $('#id_city').val(city_v);
            $('#id_country').val(country_v);
            set_map();
        });


        $("#id_address").change(function(){
           set_map();
        });

        $("#id_address").blur(function(){
           set_map();
        });


        google.maps.event.addListener(map, 'click', function(event) {
            marker.setPosition(event.latLng);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });

        google.maps.event.addListener(map, 'bounds_changed', function () {
            var bounds = map.getBounds();
            searchBox.setBounds(bounds);
        });

        google.maps.event.addListener(marker, 'dragend', function (event) {
            console.log(event);
            var value = 'POINT (' + event.latLng.lng() + ' ' + event.latLng.lat() + ')';
            $("#id_location").html(value);
        });
    }
    $(function () {
        initialize_map();
    });

</script>