{% extends 'base.html' %}
{% load sekizai_tags static %}
{% block body %}
    <h4 class="page-title">Restaurant profile</h4>

    <div class="block-area">
        <div class="table table-bordered tile  mainTable">
            <div class="title">
                {{ restaurant.name }}
                {% if user.is_authenticated %}
                    <small>
                        | <a href="{% url "venues.views.venuess.update_restaurant" restaurant.pk %}">edit</a>
                        {% if user.is_venue_moderator %}
                            | <a href="{% url "venues.views.venuess.remove_restaurant" restaurant.pk %}">remove</a>
                        {% endif %}
                    </small>
                {% endif %}
            </div>
            <div class="cuisine">{% for cuisine in restaurant.cuisines.all %}{{ cuisine }}{% endfor %}</div>
            <div class="address">{{ restaurant.address }}</div>
            <div class="phone">{{ restaurant.phone }}</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered table-hover tile tile">
                    <tr>
                        <th colspan="2">Halal-ness Profile</th>
                    </tr>
                    <tr>
                        <td>Menu</td>
                        <td>{{ restaurant.get_menu_display }}</td>
                    </tr>
                    <tr>
                        <td>Alcohol Free</td>
                        <td>{{ restaurant.get_alcoholFree_display }}</td>
                    </tr>
                    <tr>
                        <td>Pork Free</td>
                        <td>{{ restaurant.get_porkFree_display }}</td>
                    </tr>
                    <tr>
                        <td>Muslim Owner</td>
                        <td>{{ restaurant.get_muslimOwner_display }}</td>
                    </tr>
                </table>

                <table class="table table-bordered table-hover tile tile">
                    <tr>
                        <th colspan="2">More info</th>
                    </tr>
                    <tr>
                        <td>Catering</td>
                        <td>{{ restaurant.get_catering_display }}</td>
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        <td>{{ restaurant.get_delivery_display }}</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>{{ restaurant.website }}</td>
                    </tr>
                </table>

            </div>
            <!-- GOOGLE MAP -->
            <div class="col-md-4">
                <div id="map-canvas" style="width: 100%; height: 300px"></div>
            </div>
            <!-- END GOOGLE MAP -->
        </div>

        {#        <div class="tab-container tile">#}
        {#            <ul class="nav tab nav-tabs">#}
        {#                <li class="active"><a href="#home">Home</a></li>#}
        {#            </ul>#}
        {#            <div class="tab-content">#}
        {#                <div class="tab-pane active" id="home">#}
        {#                    <p>Duis eleifend sapien nec nisl semper, vitae accumsan arcu feugiat. Suspendisse potenti. Aenean#}
        {#                        vestibulum massa ut congue accumsan. Donec sapien nulla, sollicitudin eu odio fringilla,#}
        {#                        vulputate ornare quam. Morbi congue in sem non congue. Vivamus diam velit, lacinia eu lorem ac,#}
        {#                        pellentesque lobortis arcu. Morbi congue dolor sed arcu imperdiet posuere.</p>#}
        {##}
        {#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel enim non dui fermentum#}
        {#                        sollicitudin. In id metus dolor. Suspendisse dapibus, metus vitae posuere gravida, odio orci#}
        {#                        dictum purus, vitae lobortis elit lacus id sem. Vestibulum ut rhoncus dui. Sed congue vestibulum#}
        {#                        fermentum. Nulla imperdiet quam et ipsum lobortis laoreet. Phasellus in lectus ligula.#}
        {#                        Suspendisse potenti. Aliquam massa nulla, congue ut quam sed, scelerisque laoreet massa. Ut#}
        {#                        ultrices aliquet suscipit.</p>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="row fieldWysiwye">
            <div class="col-xs-12 col-md-6">
            <form action="{% url 'venues.views.reviews.add_review' restaurant.pk %}" method="post">
                    <div class="tile-title"><span class="panel-title">Write a review</span></div>
                    {% include "reviews/review-form.html" %}
            </form>


                <h4 class="page-title">Reviews</h4>
                <div class="block-area">
                    <div class="list-group">
                        {% for review in reviews %}
                            <div class="list-group-item {{ review.approved|yesno:"list-group-item-success, list-group-item-danger" }}">
                                <a class="btn btn-default pull-right"
                                   href="{% url "venues.views.reviews.update_review" review.id %}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{% url 'venues.views.profile.user_profile' review.created_by.pk %}">{{ review.created_by }}</a> |
                                <strong>{{ review.rating }}</strong> of 5
                                <div>
                                   <p>{{ review.text }}</p> 
                                </div>
                                <div>
                                   <p>{{ review.created_on }}</p> 
                                </div>
                            </div>
                        {% empty %}
                            <div class="list-group-item">
                                You didn't write any reviews
                            </div>
                        {% endfor %}
                    </div>
                </div>

            
            </div>
            
            <div class="col-xs-12 col-md-6">
            <form action="{% url 'venues.views.notes.add_note' restaurant.pk %}" method="post">
            {% csrf_token %}
                    <div class="tile-title"><span class="panel-title">Write a note on Halal-ness</span></div>
                    {% include "notes/note-form.html" %}
            </form>

                <h4 class="page-title">Notes</h4>
                <div class="block-area">
                    <div class="list-group">
                        {% for note in notes %}
                            <div class="list-group-item {{ review.approved|yesno:"list-group-item-success, list-group-item-danger" }}">
                                <a class="btn btn-default pull-right"
                                   href="#">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a href="{{ review.content_object.show_url }}">{{ note.created_by }}</a> 
                                <div>
                                   <p>{{ note.text }}</p> 
                                </div>
                                <div>
                                   <p>{{ note.created_on }}</p> 
                                </div>
                            </div>
                        {% empty %}
                            <div class="list-group-item">
                                You didn't write any reviews
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>

    {% addtoblock "js" %}
        <!-- google-maps scripts -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {
                var mapCanvas = document.getElementById('map-canvas');
                latlng = new google.maps.LatLng({{restaurant.location.y}}, {{restaurant.location.x}});
                var mapOptions = {
                    center: latlng,
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false
                };
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: '{{ restaurant.name }} | {{ restaurant.address }}'
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <script>
            $(function () {
                console.log($(".note-remove"));
                $(".note-remove").click(function (event) {
                    if (!confirm("Are you sure?")) {
                        return false;
                    }
                })
            });
        </script>
    {% endaddtoblock %}
{% endblock %}