{% load widget_tweaks bootstrap3 %}
{% if restaurant.is_closed %}
    <div class="alert alert-danger" role="alert">CLOSED</div>
{% endif %}
{% bootstrap_form_errors form %}
<div class="col-xs-12 col-md-6">

    <!-- Firs Box -->
    <div class="forTable tile">
        <table>
            <tr>
                <th colspan="2">{{ action_title }}</th>
            </tr>
            <tr>
                <td><span class="formTitle">Name</span></td>
                <td><input value="{{ form.name.value }}" type="text" name="name" class="form-control input-sm"
                           placeholder="Name of the Restaurant" required/>
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Address</span></td>
                <td><input value="{{ form.address.value }}" id="id_address" class="form-control input-sm" type="text" name="address"
                           placeholder="21 Baklava Street :)" required/></td>
            </tr>
            <tr>
                <td><span class="formTitle">Suburb,City & State </span></td>
                <td><input value="{{ form.city.value }}" id="id_city" class="form-control input-sm" type="text" name="city"
                           placeholder="Braddon Canberra ACT" required/></td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    {{ form.country|add_class:'select' }}
                </td>
            </tr>
            {#                        <tr>#}
            {#                            <td>Note</td>#}
            {#                            <td><textarea class="form-control auto-size m-b-10"#}
            {#                                          placeholder="This is an auto sizing Textarea..."></textarea>#}
            {#                            </td>#}
            {#                        </tr>#}
            <tr>
                <td><span class="formTitle">Phone</span></td>
                <td><input value="{{ form.phone.value }}" type="text" name="phone" class="form-control input-sm" required/></td>
            </tr>
            <tr>
                <td>Cuisine</td>
                <td>{{ form.cuisines|add_class:"select" }}</td>
            </tr>
        </table>
    </div>
    <!-- END Firs Box -->

    <!-- Second Box -->
    <div class="forTable tile">
        <table>
            <tr>
                <th colspan="2">Halal-ness Profile</th>
            </tr>
            <tr>
                <td><span class="formTitle">Menu</span></td>
                <td>
                    {% for radio in form.menu %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Alcohol</span></td>
                <td>
                    {% for radio in form.alcoholFree %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Pork free</span></td>
                <td>
                    {% for radio in form.porkFree %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Owner</span></td>
                <td>
                    {% for radio in form.muslimOwner %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <!-- END Second Box -->

    <!-- Third Box -->
    <div class="forTable tile">
        <table>
            <tr>
                <th colspan="2">More info</th>
            </tr>
            <tr>
                <td><span class="formTitle">Catering</span></td>
                <td>
                    {% for radio in form.catering %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr class="">
                <td><span class="formTitle">Delivery</span></td>
                <td>
                    {% for radio in form.delivery %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Website</span></td>
                <td><input value="{{ form.website.value }}" type="text" name="website" class="form-control input-sm"/></td>
            </tr>
        </table>
    </div>
    <!-- END Third Box -->

    <div>
        <button type="submit" class="btn btn-sm">Submit</button>
    </div>
</div>
