{% load widget_tweaks bootstrap3 %}
{% if restaurant.is_closed %}
    <div class="alert alert-danger" role="alert">CLOSED</div>
{% endif %}
{% bootstrap_form_errors form %}
<div class="input-group input-group-lg {% if form.name.errors %} has-error{% endif %}">
    <div class="input-group-addon">
        Name
    </div>
    {{ form.name|add_class:'form-control' }}
    <div class="input-group-btn">
        <button class="btn {{ is_add|yesno:"btn-primary,btn-success" }}" type="submit">
            <span class="glyphicon {{ is_add|yesno:"glyphicon-plus,glyphicon-save" }}"></span>
        </button>
    </div>
</div>

<h4>
    <div class="input-group{% if form.cuisine.errors %} has-error{% endif %}">
        <div class="input-group-addon">
            cuisine
        </div>
        {{ form.cuisine|add_class:'form-control' }}
    </div>
</h4>

<h4>
    <div class="input-group {% if form.address.errors %} has-error{% endif %}">
        <div class="input-group-addon">
            address
        </div>
        {{ form.address|add_class:'form-control' }}
    </div>
</h4>

<div class="row">
    <div class="col-md-12">
        {{ form.phone.errors }}

        <div class="input-group{% if form.phone.errors %} has-error{% endif %}">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-earphone"></span>
            </div>
            {{ form.phone|add_class:'form-control' }}
        </div>
    </div>
</div>

<div class="panel panel-success" style="margin-top: 0.75em">

    <div class="panel-body">
        <div class="r-categories">
             {% bootstrap_field form.categories %}
        </div>
    </div>
</div>

<div class="panel panel-info" style="margin-top: 0.75em">
    <div class="panel-body">
        <div class="col-md-3">
            {% bootstrap_field form.catering %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field form.delivery %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field form.alcoholFree %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field form.porkFree %}
        </div>
        <div class="col-md-3">
            {% bootstrap_field form.muslimOwner %}
        </div>
    </div>
</div>