{% extends 'base.html' %}
{% load sekizai_tags static %}
{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags  %}
            <div class="alert alert-success alert-dismissable fade in">
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">x</button>
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<h4 class="page-title">Moderate {{restaurant.name}}</h4>

<div class="block-area">



    <div class="row">
        <div class="col-md-8">
            {% if not restaurant.is_suspended %} 
            <form action="{% url "venues.views.moderate.suspend_restaurant" restaurant.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-alt">Suspend restaurant</button>
                </form>
            {% else %}
                <p>Restaurant is suspended</p>
                <a href="{% url "venues.views.moderate.unsuspend_restaurant" restaurant.pk %}" class="btn btn-alt">Unsuspend restaurant</a>
                <a href="{% url "venues.views.moderate.approve_restaurant" restaurant.pk %}" class="btn btn-alt">Unsuspend and approve restaurant</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}