{% extends 'base.html' %}
{% load sekizai_tags static widget_tweaks %}
{% block body %}
    <h4 class="page-title">Add new restaurant</h4>

    <div class="block-area">
        <form action="{% url "venues.views.venuess.add_restaurant" %}" method="POST" class="row form-columned theForm"
              role="form">
            {% csrf_token %}
            {% include "restaurants/item_form.html" %}
            <div class="col-xs-12 col-md-6 block-label">
                <div id="map-canvas" style="width:100%;height:350px;"></div>
            </div>
        </form>
    </div>

    {% addtoblock "js" %}
        {% include "restaurants/google-map.html" %}
    {% endaddtoblock %}

{% endblock %}