<div class="clearfix layout-block layout-a scroll-map-container search-results-block">
    <div class="col-md-8 ">
        <div class="results-wrapper">
            <div class="content">
                {% for restaurant in all_restaurants %}
                    <h3><a href="{% url 'venues.views.venuess.restaurant_by_slug' restaurant.slug %}">
                        {{ restaurant.name }}
                    </a>
                        {% if user.is_venue_moderator %}
                            <a class="btn btn-small btn-success"
                               href="{% url 'venues.views.venuess.update_restaurant' restaurant.pk %}"
                               role="button">Edit</a>
                        {% endif %}
                    </h3>
                    {% for category in restaurant.cuisines.all %}
                        {{ category }}
                    {% endfor %}
                    {{ restaurant.address }} <br/>
                    {{ restaurant.phone }} <br/>
                    {{ restaurant.distance }} <br/>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="map-wrapper">
            <div class="search-map">
                <div class="map-header clearfix">
                </div>
                <div id="map-container" class="django-map-container">
                    <div class="map" style="width: 350px; height: 400px;"></div>
                </div>
            </div>
            <div id="search-adsense"></div>
        </div>
    </div>
</div>
