{% extends 'base.html' %}
{% load sekizai_tags static %}
{% block body %}

<div class = "row restaurant-profile">

  <div class="col-md-3">
    <div class="title">
      <h2 class="tile-title"> Halal-ness Profile </h2>
      <div class="listview icon-list">
        <div class="media">
          <div class="media-body">Muslim Owner: {{ restaurant.get_muslimOwner_display }}</div>
        </div>
        <div class="media">
          <div class="media-body">Menu: {{ restaurant.get_menu_display }}</div>
        </div>

        <div class="media">
          <i class="fa fa-pork pull-left"></i>
          <div class="media-body">Serves Alcohol: {{ restaurant.get_alcoholFree_display }}</div>
        </div>

        <div class="media">
          <div class="media-body">Pork Free: {{ restaurant.get_porkFree_display }}</div>
        </div>
      </div>
    </div>
    <button class="btn btn-lg suggest-edit hvr-shutter-out-horizontal"> Suggest an Edit </button>
    <button class="btn btn-lg report-restaurant hvr-shutter-out-horizontal"> Report this Restaurant </button>

    <section class = "map-container map-card">
      <div id="map-canvas" style="width: 100%; height: 230px"></div>
      <h4>{{ restaurant.name }}</h4>
      <p><i class="fa fa-map-marker"></i> {{ restaurant.address }}</p>
    </section>

    <div class="title">
      <h2 class="tile-title"> More Info</h2>
      <div class="listview icon-list">
        <div class="media">
          <div class="media-body">
            Catering: {{ restaurant.get_catering_display }}
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            Delivery: {{ restaurant.get_delivery_display }}
          </div>
        </div>
        {% if restaurant.website %}
        <div class="media">
          <div class="media-body">
            <a href="{{ restaurant.website }}">Website Link</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card" >
      <div class="card-block">
        <h4 class="card-title"> {{ restaurant.name }} </h4>
        <div class="card-text">
          <p>Cuisine: {% for cuisine in restaurant.cuisines.all %}{{ cuisine }} {% endfor %}</p>
          <p>Ratings:
            {% if restaurant.avg_rating %}
              {% with ''|center:restaurant.avg_rating as range %}
                {% for _ in range %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
                {% endfor %}
              {% endwith %}
            {% else %}
              No ratings yet
            {% endif %}
          </p>
          <p>Also found on:
            {% if restaurant.yelp_url %}
              <a href="{{ restaurant.yelp_url }}"> Yelp</a>
            {% endif %}
            {% if restaurant.foursquare_url %}
              <a href="{{ restaurant.foursquare_url}}"> Foursquare</a>
            {% endif %}
            {% if restaurant.google_reviews_url %}
             <a href="{{ restaurant.google_reviews_url }}"> Google Rating</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <div class="note">
      {% if restaurant.about %}
      {{ restaurant.about }}
      {% else %}
      No about information
      {% endif %}
    </div>


    {% if user.is_authenticated %}
      {% if not reveiw_by_user %}
        <div class="write-review">
          {% include "reviews/review-form.html" %}
        </div>
      {% endif %}
    {% else %}
      <div class="write-review">
        <p>Please login to write a review</p>
        <a  class="btn hvr-shutter-out-horizontal btn-info m-t-10" href="/accounts/login/">Login</a>
      </div>
    {% endif %}

    <div class="user-review">
      {% for review in reviews %}
      <div class="media">
        {% comment %}
        USERS DONT HAVE AVATARS
        <a href="#" class="pull-left">
          <img class="media-object" src="http://www.one2onephotography.ca/image/portrait/men/men-images-1.jpg" alt="...">
        </a>
        {% endcomment %}

        <div class="media-body">
          <div class ="review-date pull-right"> {{ review.created_on }} </div>
          {% if review.created_by == request.user %}
          <div class="pull-right">
            <a href="{% url "venues.views.reviews.update_review" review.id %}">
              <span class="glyphicon glyphicon-edit" style="margin-right: 6px;"></span>
            </a>
          </div>
          {% endif %}
          <h4 class="media-heading"> {{ review.created_by }}</h4>

          <div class = "rating">
            Rating:
            {% with ''|center:review.rating as range %}
              {% for _ in range %}
                <i class="fa fa-star-o" aria-hidden="true"></i>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
        <p> {{ review.text }} </p> <hr>
      </div>
      {% endfor %}
      {% comment %}{% if reviews %}
      <a href="{% url 'restaurant_allreviews' restaurant.pk %}" class="btn btn-alt pull-right">All reviews</a>
      {% else %}
      <p>Restaurant hasn't been reviewed</p>
      {% endif %}
      {% endcomment %}

      {% if not reviews %}
      <p>Restaurant hasn't been reviewed</p>
      {% endif %}
    </div>


    <div class="read-reviewers" >
      <h4>Read Reviews On </h4>
      {% if restaurant.yelp_url %}
        <a class="btn hvr-shutter-out-horizontal btn-info btn-sm" href="{{ restaurant.yelp_url }}"> Yelp</a>
      {% endif %}
      {% if restaurant.foursquare_url %}
      <a class="btn hvr-shutter-out-horizontal btn-info btn-sm" href="{{ restaurant.foursquare_url}}"> Foursquare</a>
      {% endif %}
      {% if restaurant.google_reviews_url %}
      <a class="btn hvr-shutter-out-horizontal btn-info btn-sm" href="{{ restaurant.google_reviews_url }}"> Google Rating</a>
      {% endif %}
    </div>

  </div>

  <div class="col-md-3">
    <div class="card" >
      <div class="card-block">
        <h4 class="card-title">Loreum Lipsum </h4>
        <div class="card-text">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus nibh id accumsan accumsan.
            Nam ipsum ante, tincidunt posuere vulputate id, efficitur eu justo. Sed et erat est. Duis cursus eget dolor vitae aliquam.
            Proin elementum libero vitae tellus sagittis dignissim ut vel eros. Sed porta sapien id euismod sodales.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  {% addtoblock "js" %}
  <!-- google-maps scripts -->
  <script>
   function initialize() {
     var mapCanvas = document.getElementById('map-canvas');
     latlng = new google.maps.LatLng({{restaurant.location.y}}, {{restaurant.location.x}});
     var mapOptions = 14;
     var map = new google.maps.Map(mapCanvas, mapOptions);
     var marker = new google.maps.Marker({
       position: latlng,
       map: map,
       title: '{{ restaurant.name }} | {{ restaurant.address }}'
     });
   }
   google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <script>
   $(function () {
     console.log($(".note-remove"));
     $(".note-remove").click(function (event) {
       if (!confirm("Are you sure?")) {
         return false;
       }
     })
   });

   $('#report-login').click(function(){
     $('#modal-google-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={% url "venues.views.reports.report_restaurant" restaurant.pk %}");
     $('#modal-facebook-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={% url "venues.views.reports.report_restaurant" restaurant.pk %}");
     $('#main-login-modal').attr("action", "{% url "django.contrib.auth.views.login" %}?next={% url "venues.views.reports.report_restaurant" restaurant.pk %}");
   })
   $('#edit-login').click(function(){
     $('#modal-google-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={% url "venues.views.venuess.update_restaurant" restaurant.pk %}");
     $('#modal-facebook-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={% url "venues.views.venuess.update_restaurant" restaurant.pk %}");
     $('#main-login-modal').attr("action", "{% url "django.contrib.auth.views.login" %}?next={% url "venues.views.venuess.update_restaurant" restaurant.pk %}");
   })

   $('#login-default-btn').click(function(){
     $('#modal-google-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}");
     $('#modal-facebook-login').attr("href", "{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}");
     $('#main-login-modal').attr("action", "{% url "django.contrib.auth.views.login" %}?next={{ request.path }}");
   })
  </script>
  {% endaddtoblock %}
  {% endblock %}
