{% load widget_tweaks bootstrap3 %}
{% if restaurant.is_closed %}
    <div class="alert alert-danger" role="alert">CLOSED</div>
{% endif %}
{% bootstrap_form_errors form %}
<div class="col-xs-12 col-md-6">

    <!-- Firs Box -->
    <div class="forTable tile">
        <table>
        {{form.errors}}
            <tr>
                <th colspan="2">{{ action_title }}</th>
            </tr>
            <tr>
                <td><span class="formTitle">Name</span></td>
                <td>
                    {%  render_field form.name class="form-control input-sm" placeholder="Name of the Restaurant" required="" %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Shop number</span></td>
                <td>
                    {%  render_field form.shop_number class="form-control input-sm" placeholder="Shop Number" %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Address</span></td>
                <td>
                    {%  render_field form.address class="form-control input-sm" placeholder="Enter the street name e.g. 21 Baklava Street :)" required="" %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Suburb,City & State </span></td>
                <td>
                    {%  render_field form.city class="form-control input-sm" placeholder="e.g. Braddon Canberra ACT" required="" %}
                </td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <!--{{ form.country|add_class:'select' }}-->
                    {%  render_field form.country class="form-control input-sm" placeholder="" required="" %}
                </td>
            
            <tr>
                <td>Address note</td>
                <td>
                    {%  render_field form.address_note class="form-control input-sm auto-size m-b-10" placeholder="Address note (max 300 chars)" required="" cols="40" rows="3" %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Phone</span></td>
                <td>
                    {%  render_field form.phone class="form-control input-sm" %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">About</span></td>
                <td>
                    {%  render_field form.about class="form-control input-sm" %}
                </td>
            </tr>

        </table>
    </div>
    <textarea name="location" id="id_location" cols="30" rows="10" hidden></textarea>
    <!-- END Firs Box -->

    <!-- Second Box -->

    <div class="forTable tile">
        <table>
         <tr>
                <th colspan="2">Select a Cuisine</th>
         </tr>

          <tr>

                <td>{% for i in form.cuisines %}
                {{i}}
                {%endfor%}</td>
            </tr>
        </table>
    </div>

    <!-- Third Box -->

    <div class="forTable tile">
        <table>
            <tr>
                <th colspan="2">Halal-ness Profile</th>
            </tr>
            <tr>
                <td><span class="formTitle">Menu</span></td>
                <td>
                    {% for radio in form.menu %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Alcohol Free</span></td>
                <td>
                    {% for radio in form.alcoholFree %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Pork Free</span></td>
                <td>
                    {% for radio in form.porkFree %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Owner</span></td>
                <td>
                    {% for radio in form.muslimOwner %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <!-- END Third Box -->

    <!-- Fourth Box -->
    <div class="forTable tile">
        <table>
            <tr>
                <th colspan="2">More info</th>
            </tr>
            <tr>
                <td><span class="formTitle">Catering</span></td>
                <td>
                    {% for radio in form.catering %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr class="">
                <td><span class="formTitle">Delivery</span></td>
                <td>
                    {% for radio in form.delivery %}
                        <label class="checkbox-inline">
                            {{ radio }}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><span class="formTitle">Website</span></td>
                <td>
{#                    {%  render_field form.website class="form-control input-sm" %}#}
                    <input value="{{ form.website.value }}" type="text" name="website" class="form-control input-sm"/>
                </td>
            </tr>
        </table>
    </div>
    <!-- END Fourth Box -->

    <div>
        <button type="submit" class="btn btn-sm">Submit</button>
    </div>
</div>
