{% extends 'base.html' %}
{% load sekizai_tags static widget_tweaks %}
{% load widget_tweaks bootstrap3 %}
{% block body %}
    <h4 class="page-title">Please update your profile</h4>

    <div class="block-area">
        <form method="POST" class="row form-columned theForm" role="form">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {{ form.errors }}
            <div class="col-xs-12 col-md-6">

                <div class="forTable tile">
                    <table>
                        <tr>
                            <th colspan="2">{{ action_title }}</th>
                        </tr>
                        <tr>
                            <td><span class="formTitle">Username</span></td>
                            <td>
                                {%  render_field form.username class="form-control input-sm" required="" %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="formTitle">University</span></td>
                            <td>
                                {%  render_field form.university class="form-control input-sm" placeholder="Name of the University"%}
                            </td>
                        </tr>
                        <tr>
                            <td>About me</td>
                            <td>
                                {% render_field form.info class="form-control auto-size m-b-10" placeholder="" %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="formTitle">Sex</span></td>
                            <td>
                                {%  render_field form.sex class="form-control input-sm" %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="formTitle">Favourite food</span></td>
                            <td>
                                {%  render_field form.favourite_food class="form-control input-sm" placeholder="Your favorite food" %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="formTitle">Website</span></td>
                            <td>
                                {%  render_field form.website class="form-control input-sm" placeholder="http://www.example.com/" %}
                            </td>
                        </tr>
                        <tr>
                            <td><span class="formTitle">City/Country</span></td>
                            <td>
                                {%  render_field form.location class="form-control input-sm" required="" %}
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">{{ action_title }}</th>
                        </tr>
                    </table>
                </div>

                <div>
                    <button type="submit" class="btn btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

