.r-categories ul {
  padding-left: 0;
  list-style: none; }
  .r-categories ul li {
    float: left;
    padding: 0.25em;
    padding-right: 0.5em;
    margin: 0.25em;
    background-color: #eeeeee;
    border-radius: 4px; }
