{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
    <h4 class="page-title">Restaurants under need to approve </h4>
    <div class="block-area">
        <div class="row">
            <div class="col-md-6">
                {% if user_restaurants %}
                    <div class="list-group">{% for r in user_restaurants %}
                        <div class="list-group-item {{ r.approved|yesno:'list-group-item-success,list-group-item-warning' }}">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="pull-right" style="padding-left: 1em">
                                    
                                        
                                        <div class="btn-group btn-group-sm pull-right">
                                        <button class="btn btn-sm btn-danger btn-remove btn-alt pull-right"
                                                style="margin-left: 1em"
                                                data-href="{% url "venues.views.venuess.remove_restaurant" r.pk %}">
                                            reject
                                        </button>
                                            <a class="btn btn-success btn-alt"
                                               href="{% url "venues.views.venuess.update_restaurant" r.pk %}">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>

                                            <button class="btn btn-approve btn-alt {{ r.approved|yesno:"btn-info,btn-default" }}"
                                                    data-approved="{{ r.approved|yesno:"true,false" }}"
                                                    data-href="{% url "venues.views.moderate.approve_restaurant" r.pk %}">
                                                    approve
                                            </button>

                                        </div>

                                    </div>
                                    <a href="{{ r.show_url }}">{{ r.name }}</a><br>
                                    {{r.address}}<br>
                                    Cuisines: {% for c in r.cuisines.all %}
                                    {{c}}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="text-center">
                        {% bootstrap_pagination restaurants parameter_name="page" %}
                    </div>
                {% else %}
                    no items
                {% endif %}
            </div>
            <!--<div class="col-md-6">
                <h2>Restaurants modified by me</h2>
                {% if modified_by_user_restaurants %}
                    <div class="list-group">
                        {% for restaurant in modified_by_user_restaurants %}
                            <div class="list-group-item">
                                <a href="{{ restaurant.show_url }}">{{ restaurant }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    no items
                {% endif %}
            </div>-->
        </div>
    </div>
    
    {% addtoblock "js" %}
        <script>
            $(".btn-approve").click(function (e) {
                var target = $(e.currentTarget);
                var href = target.data("href");
                $.post(href, {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    approved: !target.data("approved")
                }).done(function () {
                    location.reload();
                });
            });
            $(".btn-remove").click(function (e) {
                var target = $(e.currentTarget);
                var href = target.data("href");
                $.post(href, {
                    csrfmiddlewaretoken: '{{csrf_token}}'
                }).done(function () {
                    location.reload();
                });
            })
        </script>
    {% endaddtoblock %}


{% endblock %}