{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
    <div class="list-group">
        {% for comment in comments %}
            <div class="list-group-item {{ comment.approved|yesno:"list-group-item-success, list-group-item-danger" }}">
                <a href="{{ comment.content_object.show_url }}">{{ comment.content_object }}</a> |
                <strong>{{ comment.rating }}</strong> of 5
                <div>
                    {{ comment.text }}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">
                You didn't write any comments
            </div>
        {% endfor %}
    </div>
{% endblock %}