{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
        <h4 class="page-title">My notes</h4>
    <div class="block-area">
    <div class="list-group">
        {% for note in notes %}
            <div class="list-group-item list-group-item-success">
                <a class="btn btn-default pull-right" href="{% url "venues.views.notes.update_note" note.id %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{{ note.content_object.show_url }}">{{ note.content_object }}</a> |
                <div>
                    {{ note.text }}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">
                You didn't write any notes
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}