{% extends "base.html" %}
{% load bootstrap3 sekizai_tags static %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
    <h4 class="page-title">{{ user|upper }} PROFILE</h4>

    <div class="block-area">
        <div class="row">
            <div class="col-md-9">
                <div class="tile-light p-5 m-b-15">
                    <div class="cover p-relative">
                        <img src="{% static "img/cover-bg.jpg" %}" class="w-100" alt="">
                        {% if user.venueuser.sex == 1 %}
                            <img class="profile-pic" src="{% static "img/loadinfo.gif" %}" alt="">
                        {% else %}
                            <img class="profile-pic" src="{% static "img/profile-pic.jpg" %}" alt="">
                        {% endif %}

                        <div class="profile-btn">
                            <button class="btn btn-alt btn-sm"><i class="icon-bubble"></i> <span>Message</span></button>
                            <button class="btn btn-alt btn-sm"><i class="icon-user-2"></i> <span>Friend</span></button>
                        </div>
                    </div>
                    <div class="p-5 m-t-15">
                        {{ user.venueuser.info }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <h2 class="tile-title">About me</h2>

                    <div class="tile-config dropdown">
                        <a data-toggle="dropdown" href="" class="tooltips tile-menu" title=""
                           data-original-title="Options"></a>
                        <ul class="dropdown-menu pull-right text-right">
                            <li><a href="{% url 'profile-form' user.venueuser.pk %}">Edit</a></li>
                        </ul>
                    </div>

                    <div class="listview icon-list">
                        <div class="media">
                            <i class="icon pull-left">&#61782</i>

                            <div class="media-body">{{ user.venueuser.get_sex_display }}</div>
                        </div>

                        {% if user.venueuser.favourite_food %}
                            <div class="media">
                                <i class="icon pull-left">&#61796</i>

                                <div class="media-body">
                                    Favourite Food : {{ user.venueuser.favourite_food }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="media">
                            <i class="icon pull-left">&#61840</i>

                            <div class="media-body">Studied at {{ user.venueuser.university }}</div>
                        </div>

                        <div class="media">
                            <i class="icon pull-left">&#61713</i>

                            <div class="media-body">Lives in {{ user.venueuser.location }}</div>
                        </div>

                        {% if user.venueuser.website %}
                            <div class="media">
                                <i class="icon pull-left">&#61838</i>

                                <div class="media-body">
                                    <a href="{{ user.venueuser.website }}" target="_blank">
                                        {{ user.venueuser.website }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.myreviews" %}">
                    <div class="tile quick-stats media">
                        <div id="stats-line-3" class="pull-left"></div>
                        <div class="media-body">
                            <h2 data-value="{{ reviews.count }}">0</h2>
                            <small>Reviews</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.mynotes" %}">
                    <div class="tile quick-stats media">

                        <div id="stats-line-4" class="pull-left"></div>

                        <div class="media-body">
                            <h2 data-value="{{ notes.count }}">0</h2>
                            <small>Notes</small>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.myrestaurants" %}">
                    <div class="tile quick-stats media">
                        <div id="stats-line" class="pull-left"></div>
                        <div class="media-body">
                            <h2 data-value="{{ restaurants.count }}">0</h2>
                            <small>Restaurants Updated</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br/><br/><br/>
    </div>
{% endblock %}
