{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
    <h4 class="page-title">My restaurants</h4>
    <div class="block-area">
        <div class="row">
            <div class="col-md-6">
                <h2>Restaurants created by me</h2>
                {% if user_restaurants %}
                    <div class="list-group">
                        {% for restaurant in user_restaurants %}
                            <div class="list-group-item">
                                <div class="btn-group btn-group-sm pull-right">
                                    <a href="{{ restaurant.edit_url }}" class="btn btn-success">edit</a>
                                </div>
                                <a href="{{ restaurant.show_url }}">{{ restaurant }}</a>

                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    no items
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>Restaurants modified by me</h2>
                {% if modified_by_user_restaurants %}
                    <div class="list-group">
                        {% for restaurant in modified_by_user_restaurants %}
                            <div class="list-group-item">
                                <a href="{{ restaurant.show_url }}">{{ restaurant }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    no items
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}