<div class="panel panel-default">
    <div class="panel-body">
        {% if user.is_authenticated %}
            <div class="pull-right">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{% url "venues.views.update_note" note.pk %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    {% if user.is_superuser %}
                        <a class="btn btn-danger note-remove" href="{% url "venues.views.remove_note" note.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {{ note.text }}
    </div>
</div>
