{% extends "base.html" %}
{% load bootstrap3 sekizai_tags %}
{% block title %}Restaurants moderation{% endblock %}
{% block body %}
    <h4 class="page-title">Moderate</h4>
    <div class="block-area">

       <div class="row">
            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.approvedrestaurants" %}">
                    <div class="tile quick-stats media">
                        <div id="stats-line-3" class="pull-left"></div>
                        <div class="media-body">
                            <h2 data-value="{{approved_count}}">{{approved_count}}</h2>
                            <small>Restaurants Needs Approval</small>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.myreviews" %}">
                    <div class="tile quick-stats media">
                        <div id="stats-line-4" class="pull-left"></div>
                        <div class="media-body">
                            <h2 data-value="{{report_counter}}">{{report_counter}}</h2>
                            <small>Restaurants Reported</small>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 col-xs-6">
                <a href="{% url "venues.views.profile.myreviews" %}">
                    <div class="tile quick-stats media">
                        <div id="stats-line-5" class="pull-left"></div>
                        <div class="media-body">
                            <h2 data-value="{{ reviews.count }}">0</h2>
                            <small> Restaurants Updated</small>
                        </div>
                    </div>
                </a>
            </div>
    </div>




    <div class="block-area">

        <div class="row">
            <!-- <div class="col-md-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Restaurants under need to approve:
                    </div>
                    {% for r in restaurants %}
                        <div class="list-group-item {{ r.approved|yesno:'list-group-item-success,list-group-item-warning' }}">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="pull-right" style="padding-left: 1em">
                                        <button class="btn btn-sm btn-danger btn-remove btn-alt pull-right"
                                                style="margin-left: 1em"
                                                data-href="{% url "venues.views.venuess.remove_restaurant" r.pk %}">
                                            <span class=" glyphicon glyphicon-remove"></span>
                                        </button>

                                        <div class="btn-group btn-group-sm pull-right">
                                            <a class="btn btn-success btn-alt"
                                               href="{% url "venues.views.venuess.update_restaurant" r.pk %}">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>

                                            <button class="btn btn-approve btn-alt {{ r.approved|yesno:"btn-info,btn-default" }}"
                                                    data-approved="{{ r.approved|yesno:"true,false" }}"
                                                    data-href="{% url "venues.views.moderate.approve_restaurant" r.pk %}">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                        </div>

                                    </div>
                                    <a href="{{ r.show_url }}">{{ r.name }}</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        {% bootstrap_pagination restaurants parameter_name="page" %}
                    </div>
                </div>
            </div> -->
            <div class="col-md-8">
                <div class="col-md-7">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-success">
                            Recently updated restaurants:
                        </div>
                        {% for item in recently_update_restaurants %}
                            <div class="list-group-item">
                                <a href="{% url "venues.views.venuess.restaurant_by_slug" item.slug %}">{{ item.name }}</a><br/>
                                changes: <i>{% for f in  item.changed_fields %}
                                {{ f }}
                            {% endfor %}</i>
                            </div>
                        {% endfor %}
                        {% if recently_update_restaurants.paginator.num_pages > 1 %}
                            <div class="text-center">
                                {% bootstrap_pagination recently_update_restaurants parameter_name="pageUpdated" %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-info">
                            Reviews under need to approve:
                        </div>
                        {% for item in recently_added_reviews %}
                            <div class="list-group-item {{ item.approved|yesno:'list-group-item-success,list-group-item-warning' }}">
                                <div>
                                    <a href="{% url "venues.views.venuess.restaurant" item.venue_id %}">{{ item.venue_name }}</a>

                                    <div class="pull-right">
                                        <div class="badge pull-right">
                                            {{ item.rating }} / 5
                                        </div>
                                        {% if not item.approved %}
                                            <br/>
                                            <a href="{% url "venues.views.moderate.approve_review" item.pk %}">approve</a>
                                        {% endif %}
                                    </div>
                                </div>

                                {{ item.text|truncatewords:'5' }}
                                <div class="clearfix"></div>
                            </div>
                        {% endfor %}
                        {% if recently_added_reviews.paginator.num_pages > 1 %}
                            <div class="text-center">
                                {% bootstrap_pagination recently_added_reviews parameter_name="pageReview" %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% addtoblock "js" %}
        <script>
            $(".btn-approve").click(function (e) {
                var target = $(e.currentTarget);
                var href = target.data("href");
                $.post(href, {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    approved: !target.data("approved")
                }).done(function () {
                    location.reload();
                });
            });
            $(".btn-remove").click(function (e) {
                var target = $(e.currentTarget);
                var href = target.data("href");
                $.post(href, {
                    csrfmiddlewaretoken: '{{csrf_token}}'
                }).done(function () {
                    location.reload();
                });
            })
        </script>
    {% endaddtoblock %}
{% endblock %}