{% load static bootstrap3 %}
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static "css/common_style.css" %}"/>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="/">Restaurants</a>
        <ul class="nav navbar-nav">
        </ul>
        <form method="post" action="{% url "venues.views.venuess.restaurants_lists" %}" class="navbar-form search-form pull-left" id="restaurant-form">
            {% csrf_token %}
            <input type="text" name="query" class="form-control"/>
            <input class="btn btn-default" type="submit" value="Search"/>
            <a class="btn btn-default" href="/login/facebook?next=/restaurants/restaurants_lists/"
               role="button">Login</a>
        </form>
        <form class="navbar-form pull-right">
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}">Log out</a>
            {% else %}
                <a class="btn btn-default" href="{% url "django.contrib.auth.views.login" %}?next={{ request.path }}">Log in</a>
            {% endif %}
        </form>
    </nav>
    {% block body %}{% endblock %}
</div>
</body>
{% block scripts %}

{% endblock %}
</html>