{% load static bootstrap3 sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    {% render_block "core-js" %}
    {% render_block "core-css" %}
    {% include "scripts.html" %}
    {% include "styles.html" %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="/">Restaurants</a>
        <ul class="nav navbar-nav">
        </ul>
        <form method="post" action="{% url "venues.views.venuess.index" %}"
              class="navbar-form search-form navbar-left" id="restaurant-form">
            {% csrf_token %}
            <input type="text" name="address" class="form-control" placeholder="address"/>
            <input type="text" name="category" class="form-control" placeholder="category" id="id_category"
                   style="position:relative;"/>
            <input class="btn btn-default" type="submit" value="Search"/>
        </form>
        <ul class="nav navbar-nav pull-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    {% include "user_menu.html" %}
                </li>
            {% else %}
                <li>
                    <form class="navbar-form navbar-left">
                        <a class="btn btn-primary" data-toggle="modal" href="#login_modal">Login</a>
                    </form>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
</div>
{% include "login.html" %}
{% render_block "js" %}
</body>
</html>