{% extends 'base.html' %}
{% load static bootstrap3 sekizai_tags %}
{% block body %}
    <h4 class="page-title">Disclaimer</h4>

    <div class="block-area">
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <div class="tile  mainTable">
                    <div class="title">
                            Please verify the halal-ness status of this restaurant before you eat.
                    </div>

                </div>

            </div>

        </div>

    </div>


{% endblock %}

