<a class="dropdown-toggle" role="button" id="dropdownMenu1"
   data-toggle="dropdown" aria-expanded="true" style="cursor:pointer;">
    <span class="glyphicon glyphicon-user"></span>
    {{ user.username }}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% if user.is_staff %}
        <li>
            <a role="menuitem" tabindex="-1" href="/admin/">
                Administrate
            </a>
        </li>
    {% endif %}
    {% if user.is_venue_moderator %}
        <li>
            <a role="menuitem" tabindex="-1" href="{% url "venues.views.moderate.index" %}">
                Moderate
            </a>
        </li>
        <li>
            <a role="menuitem" tabindex="-1" href="{% url "venues.views.moderate.reports" %}">
                Reports
            </a>
        </li>
    {% endif %}
    <li role="presentation" class="divider"></li>
    <li>
        <a role="menuitem" href="{% url "venues.views.venuess.add_restaurant" %}">
            Add restaurant
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.myrestaurants" %}">
            My restaurants
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.mynotes" %}">
            My notes
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.myreviews" %}">
            My reviews
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.myreports" %}">
            My reports
        </a>
    </li>
    <li role="presentation" class="divider"></li>
    <li>
        <a role="menuitem" href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}">
            Logout
        </a>
    </li>
</ul>