{% if user.is_authenticated %}
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.myprofile" %}">
            My Profile
        </a>
    </li>
    {% if user.is_staff %}
        <li>
            <a role="menuitem" tabindex="-1" href="/admin/">
                Administrate
            </a>
        </li>
    {% endif %}
    {% if user.is_venue_moderator %}
        <li>
            <a role="menuitem" tabindex="-1" href="{% url "venues.views.moderate.index" %}">
                Moderate
            </a>
        </li>
    {% endif %}
    <li>
        <a role="menuitem" href="{% url "venues.views.venuess.add_restaurant" %}">
            Add restaurant
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "venues.views.profile.myreviews" %}">
            My reviews
        </a>
    </li>
    <li>
        <a role="menuitem" href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}">
            Logout
        </a>
    </li>
{% else %}
{% endif %}
